*, *::before, *::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background: #121212;
    color: #fff;
}
/* Utility Classes */

.container {
    width: 90%;
    max-width: 700px;
    margin: 0 auto;
    padding: 0;
}

.flex {
    display: flex;
}

/* Layout */

header {
    background: url('img/movie-list-app-hero-img.png');
    background-size: cover;
    padding: 3em 0;

}

.header {
    align-items: center;
    justify-content: space-between;
}

.results-section {
    height: 75vh;
}

.search-placeholder-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.search-placeholder-icon {
    width: 100px;
    margin-bottom: 0;
}

.movie-card {
    align-items: center;
    gap: 1.25em;
    border-bottom: 1px solid #2C2C2C;
    padding: 2.5em 0;
}

.movie-card:last-of-type {
    border: none;
}


.movie-poster {
    max-width: 120px;
    max-height: 178px;
}

.movie-info {
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.title-rating {
    align-items: center;
    gap: .5em;
}

.runtime-genre-watchlist-btn {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-size: 1rem;
    gap: 1em;
}

.movie-info h3 {
    font-size: 1.125rem;
}
.movie-info p {
    font-size: .80rem;
    text-align: justify;
}

.title-rating p {
    text-wrap: nowrap;
}
/* Navigation */

nav {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    font-size: .75rem;
}

/* Search */

.search-form{
    justify-content: center;
    margin-top: -1em;
    color: #A5A5A5;
}

.search-input {
    width: 100%;
    font-family: inherit;
    background-color: #2E2E2F;
    padding: 0.75em 0.75em 0.75em 2.5em;
    border: none;
    border-radius: 4px 0 0 4px;
    color: #fff;
}

.search-input-container {
    position: relative;
    width: 100%;
    max-width: 900px;
}

i {
    position: absolute;
    top: 25%;
    left: .5em;
}

.search-btn {
    border: none;
    background: #4b4b4b;
    color: #fff;
    padding: .75em 3em;
    border-radius: 0 4px 4px 0;
}

/* Typography */

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 1.5rem;
}

.search-placeholder-text {
    font-size: 1.5rem;
    font-weight: bold;;
    text-align: center;
    color: #2E2E2F;
    margin-top: .5em;
}

/* Links */

a {
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.search-link {
    position: relative;
    padding-left: 2em;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

/* Buttons */

.watchlist-btn,
.remove-btn {
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 2.5em;
    cursor: pointer;
}

.icon {
    position: absolute;
    font-size: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

/* Media Queries */

@media (min-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
    
    header {
        padding: 4em 0;
    }

    .search-input {
        font-size: 1rem;
    }

    .search-btn {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 3rem;
    }

    header {
        padding: 5em 0;
    }
}